* {
    box-sizing: border-box; /* necesario para que todos los elementos ocupen el width/height establecido teniendo en cuenta los margin, paddings, etc establecidos. Si no, sumará al width/height establecido los margin, padding, etc. y ocupará más espacio del deseado */
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.header {
    background-color: #2ddf2d;
    width: 100%;
    padding: 8px 16px;
    border: 5px solid red;

    /* position: fixed;
    top: 0;
    left: 0;
    z-index: -2; */
}

.background {
    background: url('/src/assets/code.png');
    height: 100%;
    width: 100%;
    position: fixed;
    box-sizing: border-box;
    /* z-index: -1; */
}

.logo {
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    vertical-align: middle;
}

.logo a {
    color: #0e4f1f;
}

.backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}

.main-nav {
    display: inline-block;
    text-align: right;
    /* queremos que esté el línea con el logo, por lo que debe ocupar el 100% del ancho menos el espacio que ocupa el div del logo (verlo en la caja del inspector de elementos) */
    /* al restar los píxeles exactos que ocupa el div, aún va a seguir en una línea diferente, ya que hay un caracter "invisible" entre la tag <div></div> y la <nav></nav> cuando se pone una abajo de la otra, por lo que habría que
    poner las dos etiquetas justo inmediatamente al lado (</div><nav>), o restar unos píxeles más de los exactos (lo cual vamos a hacer restando 5px más, ya que el div del logo ocupa unos 29px) */
    width: calc(100% - 250px);
    vertical-align: middle;
}

/* le quitamos los márgenes y paddings que tiene la etiqueta ul por defecto, para así poder establecer su ancho */
.main-nav__items { 
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a {
    color: #0e4f1f;
}

.main-nav__item a:hover, .main-nav__item a:active  {
    color: white;
}

.product-overview {
    width: 100vw;
    background-image: url('/src/assets/code.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 39.76vh;
    padding: 10px;
    position: relative;
}

.product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.product-overview__badge {
    /* position: fixed; */
    /* top: 80px;
    left: 1350px; */
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}

.plan {
    background: #d5ffdc;
    text-align: center;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.plan--highlighted {
    background: #19b84c;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__recommended {
    background: white;
    color: #19b84c;
    padding: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.plan__content {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__content li {
    margin: 8px 0;
}