<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Básicos</title>
</head>

<body>
    <h1>Básicos</h1>
    <section style="display: flex; align-items: center">
        <ul>
            <li>
                <h2>Interpolación</h2>
                <ul>
                    <li>
                        {{ variables }}
                    </li>
                    <li>
                        {{ llamarFunciones() }} (esto puede suponer un problema):
                        <ul>
                            <li>
                                cada vez que se ejecuta un método, Vue hace internamente una recarga de la página y
                                todos los métodos que se encuentren interpolados se vuelven a llamar, aunque no tengan
                                nada que ver con el otro método ejecutado. Esto se debe a que, por si acaso sí tuvieran
                                que ver, Vue los vuelve a ejecutar para "mantener actualizados" todos los valores.
                            </li>
                            <li>
                                por ello, mejor interpolar con <b><i>computed properties</i></b> (sólo se vuelven a
                                ejecutar/llamar si alguna de las variables globales que contenga cambia su valor).
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <h2>Watchers</h2>
                <ul>
                    <li>
                        Pendientes de alguna variable del data/setup en concreto y, cuando ésta cambie su valor u ocurra
                        algo
                        estipulado, se ejecutan.
                    </li>
                    <li>
                        Llevan el mismo nombre que la variable a observar. (Ej. en el data: const name = 'whatever'; --- el
                        watcher sería name())
                    </li>
                    <li>
                        Diferencias con las computadas:
                        <ul>
                            <li>
                                Computadas: para renderizar algo en el template dinámicamente.
                            </li>
                            <li>
                                Watchers: para ejecutarse sólo cuando le ocurra algo concreto a algún elemento del
                                data/setup.
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <h2>Eventos</h2>
                <ul>
                    <li>
                        <h3>input</h3>
                        <ul>
                            <li>
                                Ejemplo: ejecutar función sin argumentos para mostrar en pantalla el nombre introducido
                                por
                                un usuario.
                                <ul>
                                    <li>
                                        al llamar a función sin argumentos:
                                        <ul>
                                            <li>
                                                el <b>evento</b> será el argumento por defecto (es un
                                                objeto)
                                            </li>
                                            <li>
                                                proporciona información sobre el elemento HTML en el que ocurrió ese
                                                evento
                                            </li>
                                            <li>
                                                ejemplo:
                                                <ul>
                                                    <li>
                                                        Template:
                                                        <code>
                                                            < input type="text" v-on:input="setName" />
                                                        </code>
                                                        <p style="display: inline-block"><b>(Evento de tipo input)</b>
                                                        </p>
                                                    </li>
                                                    <li>
                                                        Data:
                                                        <code>
                                                            data() {return name: ''}
                                                        </code>
                                                    </li>
                                                    <li>
                                                        Función:
                                                        <code>setName(event) { this.name = event.target.value } </code>
                                                    </li>
                                                </ul>
                                                De esta forma, al llamar a la función sin argumentos (mirar arriba en Template), coge por defecto <br>
                                                el evento (evidentemente hay que pasarle un parámetro para que acceda al evento, como se ve arriba en Función) <br>
                                                y así accedemos al valor del elemento html (input) donde ocurre el
                                                evento (input) y establecemos que su value es la variable <i>name</i>,
                                                retornada en el data()
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul>
                            </li>
                            <li>
                                Si quisiéramos añadir argumentos además del evento, vue nos proporciona
                                <b><i>$event</i></b>
                                para
                                ello:
                                <ul>
                                    <li>
                                        Template:
                                        <code>
                                            < input type="text" v-on:input="setName(<b>$event</b>, 'Martínez')" />
                                        </code>
                                    </li>
                                    <li>
                                        Data:
                                        <code>
                                            data() {return name: ''}
                                        </code>
                                    </li>
                                    <li>
                                        Función:
                                        <code>setName(event, lastName) { this.name = event.target.value }
                                        </code>
                                    </li>
                                </ul>
                        </ul>
                    </li>
                    <li #id="v-model">
                        v-model
                        <ul>
                            <li>
                                "Atajo" de Vue para hacer a la vez que el value del input sea dinámico
                                (v-bind:value="whateverName") y asignar al evento input un método que settée esa
                                variable (v-on:setName)
                            </li>
                            <li>
                                Ese concepto se llama <i><b>Two way binding</b></i> (enlazar con variables y manejo de
                                eventos)
                            </li>
                            <li>
                                v-model="whateverName"
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <h3> Prevenir comportamiento del evento (ej.: <i>submit</i>):</h3>
                <ul>
                    <li>
                        preventDefault() (Vanilla JavaScript). Ej.:
                        <code>methods: { <br> submitForm(event) { event.preventDefault(); alert('Hello');
                            }</code>
                    </li>
                    <li>
                        <i><b>Vue modifiers</b></i>:
                        <ul>
                            <li>
                                <b>.prevent</b>
                            </li>
                            <li>
                                otros:
                                <ul>
                                    <li>
                                        para <i>click</i>
                                        <ul>
                                            <li>
                                                .right (ej. click.right, ejecuta el evento <i>click</i> al
                                                clickar el botón derecho)
                                            </li>
                                            <li>
                                                .left
                                            </li>
                                            <li>
                                                .middle
                                            </li>
                                            <li>
                                                etc.
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        para <i>keyup</i> (teclas)
                                        <ul>

                                            <li>.enter (ej. :keyup.enter="confirmName"), solo ejecuta al pulsar la tecla
                                                <i>Enter</i></li>
                                            <li>etc.</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        </li>
        <li>
            <h2>Directivas</h2>
            <ul>
                <li>
                    v-bind: (:) hacer dinámicos los valores de los atributos
                </li>
                <li>
                    v-on:event (@) (puede haber más de uno en un mismo elemento)
                </li>
                <li>
                    <a href="#v-model" style="text-decoration: none;">v-model</a> (ver arriba)
                </li>
                <li>
                    v-html: renderizar variables/funciones que contengan/retornen html.
                </li>
                <li>
                    v-once
                    <ul>
                        <li>
                            Solo se actualiza una vez el contenido de la variable
                        </li>
                        <li>
                            Ej. contador que queremos muestre su estado inicial y su estado actualizado. <br>
                            <code>
                                < p v-once>Starting: {{counter}}< /p> <br>
                                        < p>Result: {{counter}}< /p> </code> </li> </ul> </li> <li>
                                            v-show
                                            <ul>
                                                <li>
                                                    Diferencia con v-if:
                                                    <ul>
                                                        <li>
                                                            v-show <b>oculta ( <i>display: none;</i> )</b> el
                                                            elemento, pero está presente y lo muestra si se cumple
                                                            la condición
                                                        </li>
                                                        <li>
                                                            v-if <b>elimina</b> el elemento del DOM y lo añade si se cumple
                                                            la condición
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            v-for
                                            <ul>
                                                <li>
                                                    v-for="(item, index, key) in items" :key="item.id"
                                                    <ul>
                                                        <li>
                                                            index: índice del elemento en el array/objeto
                                                        </li>
                                                        <li>
                                                            key: nombre de la propiedad (si iteramos sobre un objeto) (no confundir con el atributo <i>:key</i> )
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    :key="item.id"
                                                    <ul>
                                                        <li>
                                                            <b>Fundamental</b> para diferenciar los elementos y que no se mezclen/pierdan valores
                                                        </li>
                                                        <li>
                                                            Así ayudamos a Vue a no tener problemas de rendimiento por detrás
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                        </li>
                    </ul>
                </li>
            </ul>
    </section>
</body>

</html>