<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Background</title>
</head>

<body>
    <h1 style="text-align: center">Background</h1>
    <h2>Diferentes propiedades:</h2>
    <section style="display: flex">
        <div>
            <ul>
                <li>
                    <h3><code>background-size</code></h3>
                    <ul>
                        <li>
                            <p>Un único valor (ej.100px;) = width (el height se ajusta automáticamente)</p>
                        </li>
                        <li>
                            <p>Dos valores = 100px (width) 50px (height)</p>
                        </li>
                        <li>
                            <p>Lo ideal es utilizar valores más exactos ( <code>cover</code> o <code>contain</code> ) en
                                lugar
                                de valores manuales (con píxeles u otras uds.).</p>
                            <ul>
                                <li>
                                    <b><code>cover</code></b>: asegura que la imagen ocupe todo el contenedor, sin dejar
                                    ni un
                                    solo espacio (aunque no se vea del todo completa).
                                </li>
                                <li>
                                    <b><code>contain</code></b>: asegura que la imagen sea visible de manera completa,
                                    pero no
                                    tiene porqué ocupar todo el contenedor.
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <h3><code>background-repeat</code></h3>
                    <ul>
                        <li>
                            <p>Si se repite la imagen o no en el contenedor.</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <h3><code>background-position</code></h3>
                    <ul>
                        <li>
                            <p>Posicionar la imagen en el contenedor.</p>
                        </li>
                        <li>
                            <p>Se puede poner de cuatro maneras:</p>
                            <ul>
                                <li>
                                    En píxeles o unidades: provoca que la imagen se desplace dejando un espacio en
                                    blanco.
                                </li>
                                <li>
                                    En porcentajes
                                </li>
                                <li>
                                    En valores más exactos (top, bottom, left, right)
                                </li>
                                <li>
                                    Asignando porcentajes a los valores exactos (ej.: <code>background-position: left
                                        20% top
                                        40%;</code> )
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div>
            <img src="/src/assets/background.png" alt="background">
        </div>
    </section>
    <section>
        <img src="/src/assets/bg-shorthand.png" alt="bg-shorthand">
    </section>
</body>

</html>