<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Footer</title>
  <link rel="stylesheet" href="/shared.css">
</head>

<body>
  <header class="header">
    <div class="logo"><a href="/">desarrolloFront</a></div>
    <nav class="main-nav">
      <ul class="main-nav__items">
        <li class="main-nav__item">
          <a href="/src/views/css-views/main.html">CSS</a>
        </li>
        <li class="main-nav__item">
          <a href="/src/views/javascript-views/main.html">JavaScript</a>
        </li>
        <li class="main-nav__item">
          <a href="/src/views/webpack/main.html">Webpack</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Cómo situar correctamente el footer</h1>
    <section>
      <h2>Manera moderna y más correcta:</h2>
      <p>Ver página de <i>Grid</i> <a href="/src/views/grid.html">aquí</a></p>
    </section>
    <section>
      <h2>Manera más tradicional:</h2>
      <ul>
        <li>
          Pantalla: 100% del height del viewport -> De ese 100vh, hay que tener en cuenta que una parte lo ocupa la
          <b>nav</b> y otra el <b>footer</b>.
        </li>
        <li>
          Para ello, realizamos el siguiente cálculo: <p
            style="display: inline-block; border: 1px solid black; padding: 3px;">100vh -
            height de la nav - height del footer</p>
          <ul>
            Desglose:
            <li>
              En esta web, el height de la nav es 3.5rem (2.5rem del height del icono + 2x0.5rem del padding)
            </li>
            <li>
              El height del footer es: 19px + 32px (padding-top) + 32px (padding-bottom) + 48px (margin-top) = 131px =
              8rem (inspeccionar <i>main-footer</i>).
            </li>
          </ul>
          <p style="display: inline-block; border: 1px solid black; padding: 3px;">
            <code>
              main {
              min-height: calc(100vh - 3.5rem - 8rem)
              }
            </code>
          </p>
        </li>
        <li>
          Tener cuidado con <b>márgenes superiores o inferiores adicionales</b> que puedan ampliar el tamaño del main
          (sustituirlos, en la medida de lo posible, por <b>padding-top o padding-bottom</b> )
        </li>
        <li>
          Así, siempre quedará el footer anclado a la parte más inferior de la página.
        </li>
      </ul>
    </section>
  </main>
  <footer class="main-footer">
    <nav>
      <ul class="main-footer__links">
        <li class="main-footer__link">
          <a href="#">Support</a>
        </li>
        <li class="main-footer__link">
          <a href="#">Terms of Use</a>
        </li>
      </ul>
    </nav>
  </footer>
</body>

</html>