<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/shared.css">
    <title>CSS</title>
</head>

<body>
    <header class="header">
        <div class="logo"><a href="/">laBibliaFrontend</a></div>
        <nav class="main-nav">
            <ul class="main-nav__items">
                <li class="main-nav__item">
                    <a href="/src/views/css-views/main.html">CSS</a>
                </li>
                <li class="main-nav__item">
                    <a href="/src/views/javascript-views/main.html">JavaScript</a>
                </li>
                <li class="main-nav__item">
                    <a href="/src/views/webpack/main.html">Webpack</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>CSS</h1>
        <section class="main-css">
            <ul class="main-css__items">
                <a href="/src/views/css-views/combinators.html" class="main-css__item">
                    Combinadores
                </a>
                <a href="/src/views/css-views/sepecificity.html" class="main-css__item">
                    Especificidad
                </a>
                <a href="/src/views/css-views/margin.html" class="main-css__item">
                    Margen
                </a>
                <a href="/src/views/css-views/box-model.html" class="main-css__item">
                    Box model
                </a>
                <a href="/src/views/css-views/display.html" class="main-css__item">
                    Display property
                </a>
                <a href="/src/views/css-views/pseudo.html" class="main-css__item">
                    Pseudo
                </a>
                <a href="/src/views/css-views/selectors.html" class="main-css__item">
                    Selectores
                </a>
                <a href="/src/views/css-views/position.html" class="main-css__item">
                    Position
                </a>
                <a href="/src/views/css-views/background.html" class="main-css__item">
                    Background
                </a>
                <a href="/src/views/css-views/footer.html" class="main-css__item">
                    Footer
                </a>
                <a href="/src/views/css-views/responsive.html" class="main-css__item">
                    Responsive
                </a>
                <a href="/src/views/css-views/flexbox.html" class="main-css__item">
                    Flexbox
                </a>
                <a href="/src/views/css-views/grid.html" class="main-css__item">
                    Grid
                </a>
                <a href="/src/views/css-views/properties.html" class="main-css__item">
                    Propiedades interesantes
                </a>
                <a href="/src/views/css-views/units.html" class="main-css__item">
                    Unidades
                </a>
                <a href="/src/views/css-views/variables.html" class="main-css__item">
                    Variables
                </a>
                <a href="/src/views/css-views/sass.html" class="main-css__item">
                    Sass
                </a>
                <a href="/src/views/css-views/images.html" class="main-css__item">
                    Imágenes
                </a>
                <a href="/src/views/css-views/resources.html" class="main-css__item">
                    Recursos
                </a>
            </ul>
        </section>
    </main>
    <footer class="main-footer">
        <nav>
            <ul class="main-footer__links">
                <li class="main-footer__link">
                    <a href="#">Support</a>
                </li>
                <li class="main-footer__link">
                    <a href="#">Terms of Use</a>
                </li>
            </ul>
        </nav>
    </footer>
</body>

</html>