<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Combinators</title>
</head>

<body>
    <h1 style="text-align: center">Combinators</h1>
    <section style="display: flex; align-items: center">
        <ul>
            <li class="main-nav__item">
                <a href="/src/views/css-views/combinators.html">Combinadores</a>
            </li>
            <li class="main-nav__item">
                <a href="/src/views/css-views/sepecificity.html">Especificidad</a>
            </li>
            <li class="main-nav__item">
                <a href="/src/views/css-views/margin.html">Margen</a>
            </li>
            <li class="main-nav__item">
                <a href="/src/views/css-views/box-model.html">Box model</a>
            </li>
            <li class="main-nav__item">
                <a href="/src/views/css-views/display.html">Display property</a>
            </li>
            <li class="main-nav__item">
                <a href="/src/views/css-views/pseudo.html">Pseudo</a>
            </li>
            <li class="main-nav__item">
                <a href="/src/views/css-views/selectors.html">Selectores</a>
            </li>
            <li class="main-nav__item">
                <a href="/src/views/css-views/position.html">Position</a>
            </li>
            <li class="main-nav__item">
                <a href="/src/views/css-views/background.html">Background</a>
            </li>
            <li class="main-nav__item">
                <a href="/src/views/css-views/footer.html">Footer</a>
            </li>
            <li class="main-nav__item">
                <a href="/src/views/css-views/responsive.html">Responsive</a>
            </li>
            <li class="main-nav__item">
                <a href="/src/views/css-views/flexbox.html">Flexbox</a>
            </li>
            <li class="main-nav__item">
                <a href="/src/views/css-views/grid.html">Grid</a>
            </li>
            <li class="main-nav__item">
                <a href="/src/views/css-views/properties.html">Propiedades interesantes</a>
            </li>
            <li class="main-nav__item">
                <a href="/src/views/css-views/units.html">Unidades</a>
            </li>
            <li class="main-nav__item">
                <a href="/src/views/css-views/variables.html">Variables</a>
            </li>
            <li class="main-nav__item">
                <a href="/src/views/css-views/sass.html">Sass</a>
            </li>
            <li class="main-nav__item">
                <a href="/src/views/css-views/images.html">Imágenes</a>
            </li>
            <li class="main-nav__item">
                <a href="/src/views/css-views/resources.html">Recursos</a>
            </li>
        </ul>
    </section>
</body>

</html>