<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pseudo</title>
</head>

<body>
   <header class="header">
     <div class="logo"><a href="/">desarrolloFront</a></div>
     <nav class="main-nav">
       <ul class="main-nav__items">
         <li class="main-nav__item">
           <a href="/src/views/css-views/main.html">CSS</a>
         </li>
         <li class="main-nav__item">
           <a href="/src/views/javascript-views/main.html">JavaScript</a>
         </li>
         <li class="main-nav__item">
           <a href="/src/views/webpack/main.html">Webpack</a>
         </li>
       </ul>
     </nav>
   </header>
  <h1>Pseudo</h1>
  <section class="first-section">
    <div>
      <h3>clases (:)</h3>
      <p>Definen el estilo de un <b>estado especial</b> de un elemento.</p>
      <p>Ejemplos: <code>:hover, :active, :not, :focus, etc.</code></p>
      <p>
        <code>:focus</code> sirve para indicar, mediante la aparición de unos bordes concretos (<code>outline</code>),
        que el usuario ha clickado o seleccionado el elemento.
        <br />Para eliminar (también se puede cambiar el color) los que vienen por defecto del navegador, como en los
        botones por ej., hacer lo
        siguiente: <br>
        <code>
          button:focus { outline: none;
          }
        </code>
      </p>
      <p>
        <code>:active</code> sirve para indicar el estado de un elemento cuando se está manteniendo pulsado. Ej.: <br>
        <code>
          button:active { background: red;
          }
        </code>
      </p>
      <p>
        <code>:not</code> sirve para indicar que NO lleve el estilo aplicado
        el selector que se establezca, ya sea una tag, una clase, id, etc.
        <br />
        Ej.:
        <code>
          p:not(.fancy) { color: green;
          } --> Los elementos p que no lleven la clase .fancy recibirán el color: green;
        </code><br>Es mejor no utilizar :not a ser posible y estilizar en positivo.
      </p>
    </div>
    <div>
      <h3>elementos (::)</h3>
      <p>Definen el estilo de una <b>parte específica</b> de un elemento.</p>
      <p>Ejemplos: <code>::after, ::before, etc.</code></p>
      <p>
        <code>::after</code> explicación:
        https://developer.mozilla.org/es/docs/Web/CSS/::after
      </p>
    </div>
  </section>
</body>

</html>