<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recursos útiles</title>
</head>

<body>
     <header class="header">
         <div class="logo"><a href="/">desarrolloFront</a></div>
         <nav class="main-nav">
             <ul class="main-nav__items">
                 <li class="main-nav__item">
                     <a href="/src/views/css-views/main.html">CSS</a>
                 </li>
                 <li class="main-nav__item">
                     <a href="/src/views/javascript-views/main.html">JavaScript</a>
                 </li>
                 <li class="main-nav__item">
                     <a href="/src/views/vue-views/main.html">Vue</a>
                 </li>
                 <li class="main-nav__item">
                     <a href="/src/views/webpack/main.html">Webpack</a>
                 </li>
             </ul>
         </nav>
     </header>
    <h1>Recursos útiles</h1>
    <ul>
        <div>
            <p>Web para ver si propiedades CSS o funciones JS son compatibles con x navegadores.</p>
            <li>
                https://caniuse.com/
            </li>
        </div>
    </ul>
</body>

</html>