<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Variables</title>
</head>

<body>
    <h1 style="text-align: center">Variables</h1>
    <ul>
        <li>
            <h2><code>:root { <br>
                    --my-color: #2A7DB5; <br>
                    }</code></h2>
            <p>El pseudo elemento :root hace referencia a toda la hoja de estilos, por eso hay que incluir ahí las
                variables.</p>
            <p><code>.title {<br>
                    <b>color: var(--my-color);</b><br>
                    }</code></p>
        </li>
    </ul>
</body>

</html>