h4 {
    color: white;
    font-family: 'Anton', sans-serif;
}

body {
    color: blue;
}

/* #hola {
    color: purple;
} */

.title {
    color: green;
    /* font-family: 'Georgia', sans-serif */
}