<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basics</title>
</head>
<body>
    <ul>
        <li>
            Metadatos
            <ul>
                <li>
                    charset: conjunto de caracteres que vamos a utilizar
                    <ul>
                        <li>
                            Ej. UTF-8 (para las tildes, eñes, etc. entre otros caracteres)
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            Importar css: etiqueta <code>link rel="stylesheet" type="text/css" href="styles.css"></code> <b>en el head</b>
        </li>
        <li>
            Importar script: etiqueta <code>script scr="script.js"></code>:
            <ul>
                <li>
                    justo antes de que cierre la etiqueta <code>body</code>
                    <ul>
                        <li>
                            para que así haya cargado bien todo el contenido de la web cuando se llegue a la ejecución del script
                        </li>
                    </ul>
                </li>
                <li>
                    si ese JS es crítico y tiene que ejecutarse antes de cargar el <code>body</code>, entonces irá en el <code>head</code>
                </li>
            </ul>
        </li>
    </ul>
</body>
</html>