<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basics</title>
</head>
<body>
    <ul>
        <li>
            Metadatos
            <ul>
                <li>
                    charset: conjunto de caracteres que vamos a utilizar
                    <ul>
                        <li>
                            Ej. UTF-8 (para las tildes, eñes, etc. entre otros caracteres)
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</body>
</html>