<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Combinators</title>
</head>

<body>
    <h1 style="text-align: center">Combinators</h1>
    <section style="display: flex; align-items: center">
        <ul>
            <li>
                <a href="/src/views/adjacent-sibling.html">Hermano adyacente</a>
            </li>
            <li>
                <a href="/src/views/general-sibling.html">Hermano general</a>
            </li>
            <li>
                <a href="/src/views/child.html">Hijo</a>
            </li>
            <li>
                <a href="/src/views/descendant.html">Descendiente</a>
            </li>
        </ul>
    </section>
</body>

</html>