<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pseudo</title>
</head>

<body>
    <h1 style="text-align: center">Pseudo</h1>
    <section class="first-section">
      <div>
        <h3>clases (:)</h3>
        <p>Definen el estilo de un <b>estado especial</b> de un elemento.</p>
        <p>Ejemplos: <code>:hover, :active, focus, etc.</code></p>
      </div>
      <div>
        <h3>elementos (::)</h3>
         <p>Definen el estilo de una <b>parte específica</b> de un elemento.</p>
        <p>Ejemplos: <code>::after, ::before, etc.</code></p>
        <p><code>::after</code> explicación: https://developer.mozilla.org/es/docs/Web/CSS/::after</p>
      </div>
    </section>
</body>

</html>