<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Specificity</title>
    <link rel="stylesheet" href="/src/styles/sepecificity.css">
</head>

<body>
    <h1 style="text-align: center">Specificity</h1>
    <section>
        <h2>Definición</h2>
        <p>La especificidad indica qué selectores tienen más jerarquía y, por tanto, cuál es el estilo aplicado cuando hay varias reglas apuntando a un mismo elemento.</p>
        <img src="/src/assets/specificity.png" alt="specificity">
        <h3>Ejemplo</h3>
        <h4 class="title" id="hola">Soy un texto</h4>
        <div style="text-align: center; display: flex;">
            <code style="border: 1px solid black; padding: 5px;">Todos los elementos que no tienen selector concreto heredan los estilos del padre (body), pero 'Soy un texto' sí que tiene un selector de clase (.title) y su especificidad es mayor, por lo que adopta los estilos indicados.
                <br> Si se le aplicase una font-family directamente a la clase .title, ésta prevalecería sobre la que actualmente está recibiendo por el selector de etiqueta h4.
                <br> Si se le asigna un id a 'Soy un texto' y se le da la propiedad color: purple, se pondría de color purple, ya que los selectores por id tienen mayor especificidad que los de clase.
                <br>La herencia tiene una baja especificidad.</code>
        </div>
        <img src="/src/assets/specificity-example.png" alt="specificity-example">
        <h3>Clases vs ID's</h3>
        Para estilizar, mejor usar las clases, ya que los ID's solo se puede utilizar uno por página y tienen otros usos más convenientes que para estilizar. <br>Por ejemplo, si una <code>section</code> tiene el id="section1", al clickar en una etiqueta <code>a</code> con <b>href="#section1"</b>, nos llevará a esa sección.
    </section>
</body>

</html>