<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>React</title>
</head>

<body>
    <h1>React</h1>
    <section style="display: flex; align-items: center">
        <ul>
            <li>
                <a href="./basics.html">Basics</a>
            </li>
            <li class="main-nav__item">
                <a href="./hooks.html">Hooks</a>
            </li>
        </ul>
    </section>
</body>

</html>