<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Java</title>
    <link rel="stylesheet" href="/src/styles/display.css" />
    <link rel="stylesheet" href="/shared.css" />
</head>

<body>
    <header class="header">
        <div class="logo"><a href="/">desarrolloFront</a></div>
        <nav class="main-nav">
            <ul class="main-nav__items">
                <li class="main-nav__item">
                    <a href="/src/views/css-views/main.html">CSS</a>
                </li>
                <li class="main-nav__item">
                    <a href="/src/views/javascript-views/main.html">JavaScript</a>
                </li>
                <li class="main-nav__item">
                    <a href="/src/views/webpack/main.html">Webpack</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Java</h1>
        <section>
            <ul>
                <li>
                    Controller
                    <ul>
                        <li>
                            Notaciones para documentación (Swagger) del microservicio (por ej., para otros compañeros):
                            <ul>
                                <li>
                                    @Tag
                                </li>
                                <li>
                                    @Operation
                                </li>
                                <li>
                                    @ApiResponse
                                </li>
                                <li>
                                    @Parameter
                                </li>
                            </ul>
                            Para poder ver la docu creada en el navegador:
                            <ul>
                                <li>
                                    localhost:XXXX/swagger-ui/index.html
                                </li>
                                <li>
                                    Se pueden ejecutar las llamadas contra la BdDd
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
    </main>
    <footer class="main-footer">
        <nav>
            <ul class="main-footer__links">
                <li class="main-footer__link">
                    <a href="#">Support</a>
                </li>
                <li class="main-footer__link">
                    <a href="#">Terms of Use</a>
                </li>
            </ul>
        </nav>
    </footer>
</body>

</html>