<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Básicos</title>
</head>

<body>
    <h1>Básicos</h1>
    <section style="display: flex; align-items: center">
        <ul>
            <li>
                Lenguaje <b>híbrido</b> entre interpretado (se ejecuta línea a línea, es decir, si hay un error en la
                línea 100, las 99 anteriores se han ejecutado correctamente) y compilado (se analiza en su totalidad y
                ese error bloquearía la compilación)
                <ul>
                    <li>
                        Las versiones anteriores a ES6 sí eran 100% interpretadas
                    </li>
                    <li>
                        Desde ES6, existen compiladores en tiempo real que realizan una primera compilación del código y
                        luego sí van línea a línea interpretándolo
                    </li>
                </ul>
            </li>
            <li>
                Necesita un motor web para ejecutarse
                <ul>
                    <li>
                        Salvo que se descargue ese motor web y se embeba en una herramienta (así funciona NodeJS - motor
                        v8)
                    </li>
                </ul>
            </li>
            <li>
                Contexto global vs Contexto local
                <ul>
                    <li>
                        <b>var</b>
                        <ul>
                            <li>
                                <code>var example = 'Hi' <br> function change() { <br> example = 'You' <br> console.log(example)
                                    <br> } <br>change() // 'You'<br>console.log(example) // 'You'</code>
                                <p>Tanto la función invocada como el console.log() se refieren a una variable del <b>contexto
                                        global</b>
                                </p>
                            </li>
                            <li>
                                <code>var example = 'Hi' <br> function change() { <br> var example = 'You' <br>
                                    console.log(example)
                                    <br> } <br>change() // 'You'<br>console.log(example) // 'Hi'</code>
                                <p>La función invocada se refiere a una variable del <b>contexto
                                        local</b>, porque ha sido declarada <b>dentro</b> de la función (añadiendo el
                                    <code><b>var =</b> ...</code>)
                                </p>
                                <p>El console.log() se refiere a la variable <code>example</code> declarada en el <b>contexto
                                        global</b></p>
                            </li>
                            <li>
                                <code>function change() { <br> var example = 'You' <br>
                                    console.log(example)
                                    <br> } <br>change() // 'You'<br>console.log(example) // <i>ReferenceError</i></code>
                                <p>La función invocada se refiere a una variable del <b>contexto
                                        local</b>, exactamente igual que en el ejemplo anterior.
                                </p>
                                <p>El console.log() se refiere a la variable <code>example</code> declarada en el <b>contexto
                                        global</b>, pero como <b>no hay ninguna variable declarada con ese nombre</b>, tenemos
                                    un error de referencia: <b>example is not defined</b></p>
                            </li>
                            <li>
                                Una característica de <b>var</b> es que se permite el <b><i>hoisting</i> o alzamiento</b>:
                                "subir" las variables para que aparezcan declaradas antes de que sea inicializada (asignada a un
                                valor):
                                <ul>
                                    <li>
                                        <code>
                                            console.log(example) // Undefined <br>
                                            var example = 'Hi'
                                        </code>
                                        <p>
                                            El <i>hoisting</i> de <b>var</b> provoca que la variable <code>example</code>, aun
                                            estándo declarada debajo del console.log(), "suba" y se reconozca como una variable
                                            declarada pero sin valor asignado (undefined), el cual recibe en la línea siguiente.
                                        </p>
                                    </li>
                                    <li>
                                        <code>
                                            console.log(example) // Undefined <br>
                                            if (false) { <br>
                                                var example = 'Hi' <br>
                                            }
                                        </code>
                                        <p>En este caso, <code>example</code> también es undefined, porque de nuevo el <i>hoisting</i> alza la variable declarada dentro del <code>if</code> y se reconoce como declarada pero no inicializada.</p>
                                        <p><b>IMPORTANTE:</b> Esto nos indica que en los <code>if, for, switch, while</code>, etc. <b>NO SE CREA OTRO CONTEXTO DE EJECUCIÓN</b>, como sí pasa con las funciones, tal y como vimos en los ejemplos superiores, donde tenemos <i>ReferenceError</i>, ya que no se reconoce ninguna variable declarada con ese nombre. Por tanto, <code>var</code> <b>sólo afecta al ámbito local dentro de las funciones</b>, en los demás casos afecta al global.</p>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                var puede tanto <b>volver a declararse</b> como <b>modificarse</b>:
                                <ul>
                                    <li>
                                        <code>
                                            var saludar = "hey, hola"; <br>
                                            var saludar = "dice Hola tambien";
                                        </code>
                                    </li>
                                    <li>
                                        <code>
                                            var saludar = "dice Hola"; <br>
                                            saludar = "dice Hola tambien";
                                        </code>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <b>let</b>
                        <ul>
                            <li>
                                Su ámbito es exclusivamente <b>de bloque</b> ( entre {} )
                                <ul>
                                    <li>
                                        Al contrario que con <code>var</code>, por ej. dentro de un <code>if</code> si declaramos una <code>let example = 'Hi';</code> y hacemos fuera un console.log(example), <b>no la va a encontrar</b> y va a dar un ReferenceError, porque se queda sólo dentro de ese bloque y no traspasa al ámbito global.
                                    </li>
                                </ul>
                            </li>
                            <li>
                                Se pueden modificar <b>pero no redeclarar</b>
                            </li>
                            <li>
                                No tienen hoisting
                            </li>
                        </ul>
                    </li>
                    <li>
                        <b>const</b>
                        <ul>
                            <li>
                                Ámbito de bloque
                            </li>
                            <li>
                                No se pueden ni modificar ni redeclarar
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                Diferencia entre <code>null</code> y <code>undefined</code>
                <ul>
                    <li>
                        Ambos son tipos básicos
                    </li>
                    <li>
                        undefined: existe pero no está todavía definido/asignado su valor
                    </li>
                    <li>
                        null: existe pero no tiene valor/su valor es nulo
                    </li>
                    <li>
                        Curiosidades:
                        <ul>
                            <li>
                                <ul>
                                    <li>
                                        null == undefined // true --> porque ninguno tiene valor
                                    </li>
                                    <li>
                                        null === undefined // false --> porque uno no tiene porque es nulo, y otro no tiene porque aún no se le ha asignado
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li>
                                        typeof undefined --> 'undefined'
                                    </li>
                                    <li>
                                        typeof null --> 'object' <b>Esto es un bug de JS</b>, debería ser <b>'null'</b>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                Asignación por valor vs Asignación por referencia
                <ul>
                    <li>
                        Por valor
                        <ul>
                            <li>
                                Tipos simples (String, Number, etc.)
                            </li>
                            <li>
                                Ej.: <br>
                                <code>
                                    let string1 = 'Hi'; <br>
                                    let string2 = string1; // string2 adquiere el valor de string1, pero no la referencia de string1 <br>
                                    string1 = 'Bye'; <br>
                                    console.log(string2); // 'Hi'
                                </code>
                                <p>Como <code>string2</code> no adquiere la referencia de <code>string1</code> (ocupan diferentes posiciones en memoria), no "sabe" cuándo ha actualizado su valor y por tanto se queda solo con el primer valor asignado.</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Por referencia
                        <ul>
                            <li>
                                Para objetos
                            </li>
                            <li>
                                Ej.: <br>
                                <code>
                                    let obj = {a: 1, b: 2}; <br>
                                    let objRef = obj; <br>
                                    obj.a = 4; <br>
                                    console.log(objRef.a); // 4
                                </code>
                                <p><code>objRef</code> es una copia de obj (ocupan el mismo espacio en memoria), por tanto, al tener la misma referencia, si se actualiza el valor de uno se actualiza también el del otro.</p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                == vs ===
                <ul>
                    <li>
                        == : compara el valor (ej. 2 == '2' // true)
                    </li>
                    <li>
                        === : compara el valor y el tipo de dato (ej. 2 === '2' // false)
                        <ul>
                            <li>
                                esta opción es más recomendable, al ser más exacta
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</body>

</html>