<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Convertir datos</title>
</head>

<body>
    <h1>Convertir datos</h1>
    <section style="display: flex; align-items: center">
        <ul>
            <li>
                String a Number:
                <ul>
                    <li>
                        <code>parseInt('100')</code> (sin decimales)
                    </li>
                    <li>
                        <code>parseFloat('100')</code> (con decimales)
                    </li>
                </ul>
            </li>
            <li>
                Number a String: .toString()
            </li>
        </ul>
    </section>
</body>

</html>