<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Funciones</title>
</head>

<body>
    <h1 style="text-align: center">Funciones</h1>
    <section style="display: flex; align-items: center">
        <ul>
            <li>
                Argumentos vs Parámetros:
                <ul>
                    <li>
                        Parámetros: variables que se establecen entre paréntesis al CREAR la función. (ej. sayHi(name);)
                    </li>
                    <li>
                        Argumentos: valor concreto entre paréntesis al LLAMAR a la función. (ej. sayHi('Juan');)
                    </li>
                </ul>
            </li>
            <li>
                Métodos vs Funciones:
                <ul>
                    <li>
                        Método: función almacenada dentro de un objeto. Ejs.:
                        <ul>
                            <li>
                                <code>const example = { name: 'Max', greet: function sayHi() { console.log('Hi'); }
                                    }</code>
                            </li>
                            <li>
                                <code>document.addEventListener()</code> (método del objeto <i>document</i>)
                            </li>
                        </ul>
                    </li>
                    <li>
                        Función: sin almacenar dentro de un objeto
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</body>

</html>