<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Funciones</title>
</head>

<body>
    <h1>Funciones</h1>
    <section style="display: flex; align-items: center">
        <ul>
            <li>
                Son <b>objetos</b>
            </li>
            <li>
                Argumentos vs Parámetros:
                <ul>
                    <li>
                        Parámetros: variables que se establecen entre paréntesis al CREAR la función. (ej. sayHi(name);)
                        <ul>
                            <li>
                                una función puede tener asignado un parámetro por defecto por si no recibe dicho argumento. Ej.:
                            </li>
                            <li>
                                <code>
                                    function example(number = 3, secondNumber) { ... }
                                </code>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Argumentos: valor concreto entre paréntesis al LLAMAR a la función. (ej. sayHi('Juan');)
                        <ul>
                            <li>
                                Al ser invocada la función, puede no recibir todos los argumentos (el valor de los ausentes sería <i>undefined</i>)
                            </li>
                        </ul>
                    </li>
                </ul>
                <p>Una función puede no recibir parámetros en su declaración y sí argumentos en su invocación</p>
                <ul>
                    <li>
                        mediante el array <code>arguments</code>, podemos asignar cada argumento añadido en la invocación a la posición que queramos. Ej.: 
                    </li>
                    <li>
                        <code>
                            function example() { <br>
                                console.log(arguments[0]); // 1 (lo que saldría al invocar a la función abajo)<br>
                                console.log(arguments[1]); // 2<br>
                                console.log(arguments[2]); // 3<br>
                            } <br>
                            example(1, 2, 3)
                        </code>
                    </li>
                </ul>
            </li>
            <li>
                Métodos vs Funciones:
                <ul>
                    <li>
                        Método: función almacenada dentro de un objeto. Ejs.:
                        <ul>
                            <li>
                                <code>const example = { name: 'Max', greet: function sayHi() { console.log('Hi'); }
                                    }</code>
                            </li>
                            <li>
                                <code>document.addEventListener()</code> (método del objeto <i>document</i>)
                            </li>
                        </ul>
                    </li>
                    <li>
                        Función: sin almacenar dentro de un objeto
                    </li>
                </ul>
            </li>
            <li>
                <b>Hoisting:</b> Al igual que sucede con las <code>var</code> (ver <a href="./basics.html">aquí</a>), las funciones declaradas en JS se "elevan" en el contexto global y por eso <b>pueden ser invocadas antes de su propia declaración</b>. Ej.: 
                <ul>
                    <li>
                        <code>
                            saludar() <br>
                            function saludar() { <br>
                                console.log('Hola') <br>
                            } <br>
                        </code>
                    </li>
                </ul>
            </li>
            <li>
                Callbacks
                <ul>
                    <li>
                        Def.: función que se le pasa como argumento a otra función
                    </li>
                    <li>
                        Ejs.: 
                        <ul>
                            <li>
                                array.forEach(el => console.log(el.name))
                            </li>
                            <li>
                                array.map(el => console.log(el.name))
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</body>

</html>