<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JavaScript</title>
</head>

<body>
    <h1>JavaScript</h1>
    <section style="display: flex; align-items: center">
        <ul>
            <li>
                <a href="/src/views/javascript-views/data-conversion.html">Convertir datos</a>
            </li>
            <li>
                <a href="/src/views/javascript-views/functions.html">Funciones</a>
            </li>
            <li>
                <a href="/src/views/javascript-views/dom.html">DOM</a>
            </li>
            <li>
                <a href="/src/views/javascript-views/events.html">Eventos</a>
            </li>
        </ul>
    </section>
</body>

</html>