<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Promesas</title>
</head>

<body>
    <h1>Promesas</h1>
    <section style="display: flex; align-items: center">
        <ul>
            <li>
                Son similares a los callbacks (funciones que se pasan como argumentos a otras fucniones), pero simplifican el proceso <b>asíncrono</b>
            </li>
            <li>
                Estados:
                <ul>
                    <li>
                        pending
                    </li>
                    <li>
                        resolved
                    </li>
                    <li>
                        rejected
                    </li>
                </ul>
            </li>
            <li>
                Declaración:
                <ul>
                    <li>
                        <code>
                            let example = new Promise(function(resolve, reject)) { <br>
                                setTimeout(() => { <br>
                                    if (whatever) { <br>
                                        resolve('OK') <br>
                                    } else { <br>
                                        reject('NOT OK') <br>
                                    } <br>
                                }, 1000) <br>
                             }
                        </code>
                    </li>
                    <li>
                        <code>resolve</code> y <code>reject</code> son <b>callbacks</b>, es decir, hacen referencia a funciones
                    </li>
                    <li>
                        Por tanto, hay que crear una función para cada caso. Ej.: 
                        <ul>
                            <li>
                                para el parámetro <code>resolve</code>, creamos una función llamada callbackResolve que sustituirá al parámetro <code>resolve</code> y hará lo que se le indique con su <i>value</i>
                                <ul>
                                    <li>
                                        Ej.: 
                                        <code>
                                            const callbackResolve = (value) => console.log('Result:', value); // Result: OK
                                        </code>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                para el parámetro <code>reject</code>, creamos una función llamada callbackReject que hará lo propio con el <i>value</i> de <code>reject</code>
                                <ul>
                                    <li>
                                        Ej.:
                                        <code>
                                            const callbackResolve = (value) => console.log('Result:', value); // Result: NOT OK
                                        </code>
                                    </li>
                                </ul>
                            </li>
                        </ul> 
                    </li>
                </ul>
            </li>
            <li>
                Invocación:
                <ul>
                    <li>
                        <code>
                            example.then(callbackResolve, callbackReject)
                        </code>
                    </li>
                </ul>
            </li>
            <li>
                Asincronía 
                <ul>
                    <li>
                        Def.: código que tarda más en ejecutarse y afecta a la secuencialidad del resto
                    </li>
                    <li>
                        Las promesas son asíncronas, ya que se tarda cierto tiempo hasta que se devuelve lo que se ha requerido
                    </li>
                    <li>
                        Cuando utilizamos una función para retornar una promesa, tenemos que indicar que esa función va a ser asíncrona y que tenemos que esperar hasta obtener la respuesta para seguir ejecutando el resto del código:
                        <ul>
                            <li>
                                <code>
                                    <b>async</b> function example() { <br>
                                        const url = "http://..."; <br>
                                        const res = <b>await</b> fetch(url); // Esperamos a la llamada a la api <br>
                                        const resJson = <b>await</b> res.json(); // Esperamos a que el método json la convierta para poder usar keys y values<br>
                                        return resJson.name (por ej, si fuera solo un objeto con un campo <i>name</i>) <br>
                                    }
                                </code>
                            </li>
                            <li>
                                añadir <code>try catch</code> para la gestión en caso de error
                            </li>
                        </ul>
                    </li>
                    <li>
                        También se puede manejar mediante <code>then</code> y <code>catch</code>, pero es más flexible la manera anterior
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</body>

</html>